@font-face {
  font-family: Quantum;
  src: url(../fonts/Quantum.ttf);
}

@font-face {
  font-family: EBGaramond-VariableFont_wght;
  src: url(../fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
  font-family: TT_BLUESCREENS_DEMIBOLD;
  src: url(../fonts/TT_BLUESCREENS_DEMIBOLD.ttf);
}

@font-face {
  font-family: DSEG7Modern-BoldItalic;
  src: url(../fonts/DSEG7Modern-BoldItalic.ttf);
}

body {
  font-family: EBGaramond-VariableFont_wght;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -10;
}