#donationTotalContainer {
  position: fixed;
  left: 1595px;
  top: -5px;
  font-size: 96px;
  color: #79CBBF;
}

#innerDonationTotalContainer {
  display: flex;
  align-items: flex-end;
}

#donationTotalDigits {
  font-size: 64px;
  margin-bottom: 10px;
}